@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}
// Main App
.App {
  background: url("/src/images/portfolio-bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
  overflow-x: hidden;
  .header {
    max-width: 1608px;
    margin: 0 auto;
    width: 85%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 5%;
    left: 50%;
    z-index: 99;
    transition: 0.3s;
    transform: translate(-50%) scale(1);
  }
  .shift {
    top: 0%;
    transform: translate(0 -50%) scale(0.9);
  }
  text-decoration: none;
}
// NAV and logo
.logo {
  // position: fixed;
  display: flex;
  align-items: center;
  img {
    width: 110px;
    height: auto;
  }
  .logo-text {
    margin-left: 20px;
    letter-spacing: 2px;
    p {
      opacity: 0.6;
      font-size: 19px;
      margin-left: 185px;
      transition: 0.3s;
    }
    h2 {
      font-size: 35px;
      color: rgb(0, 0, 0);
    }
  }
}
.nav {
  position: absolute;
  right: 0;
  top: 30%;
  height: 100%;
  a {
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    // text-decoration: none;
    margin: 0 1.5em;
    text-shadow: 5px 2px 5px black;
    transition: 0.3s;
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: black;
    background: white;
    box-shadow: 0px 1px 20px black;
    transition: 0.2s;
    display: none;
    z-index: 100;
  }
}
.navBg {
  position: absolute;
  z-index: 98;
  background: black;
  width: 100%;
  height: 105px;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: 0.3s;
  transform: translateY(0px);
}
.home {
  opacity: 0;
  transform: translateY(-120px);
}
.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  .main-container {
    max-width: 1608px;
    margin: 0 auto;
    .main-btn {
      position: absolute;
      top: 800px;
      padding: 0.5em 2em;
      font-size: 25px;
      cursor: pointer;
      color: black;
      opacity: 0.7;
      background-color: white;
      border: 1px solid black;
      transition: 0.3s;
      letter-spacing: 2px;
    }
  }
  .main-btn:hover {
    color: white;
    background-color: black;
  }
}

.hero-body {
  position: absolute;
  top: 350px;
  display: flex;
  .hero-text {
    position: relative;
    letter-spacing: 2px;
    .text {
      p {
        position: absolute;
        font-size: 20px;
        opacity: 0.7;
        top: 50px;
        left: 250px;
      }
      h2 {
        font-size: 60px;
        margin-bottom: -0.7em;
      }
      h3 {
        font-size: 100px;
      }
    }
    .desc {
      max-width: 850px;
      opacity: 0.7;
      font-size: 1.2em;
    }
  }

  .hero-img {
    position: absolute;
    margin-left: 5em;
    img {
      z-index: 2;
      position: relative;
      width: 500px;
      filter: grayscale(100%);
      transition: 0.3s;
    }
    .whiteBg {
      position: absolute;
      width: 450px;
      height: 450px;
      background: white;
      box-shadow: 2px 4px 25px black;
      top: 110px;
      right: 20px;
      margin-top: -15em;
      z-index: 1;
      opacity: 0.2;
    }
    .blackBg {
      position: absolute;
      width: 200px;
      height: 200px;
      background: rgb(0, 0, 0);
      box-shadow: 2px 4px 25px black;
      top: 300px;
      right: -80px;
      margin-top: -15em;
      z-index: 0;
      opacity: 0.8;
    }
  }
}

//Projects
.projects {
  position: relative;
  height: 2500px;
  overflow: hidden;
  background-color: white;
  .project-title {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 8%;
    left: 3%;
    h2 {
      font-size: 60px;
      span {
        font-size: 100px;
      }
    }
  }
  .section-effect {
    position: absolute;
    color: white;
    letter-spacing: 10px;
    font-family: "Poppins";
    font-size: 8em;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    text-shadow: 2px 2px 8px black;
    opacity: 0.1;
  }
  .projects-container {
    position: relative;
    left: 3%;
    max-width: 1208px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-row-gap: 10px;
    article {
      position: relative;
      width: 300px;
      height: 700px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 5px 2px 10px black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      top: 500px;
      img {
        position: relative;
        filter: grayscale(100%);
        transform: translateX(0px);
        transition: 0.3s;
        width: 120%;
        opacity: 0.7;
        z-index: 1;
      }
      .project-info {
        h2 {
          font-size: 20px;
          position: absolute;
          z-index: 2;
          top: 0;
          padding-top: 20px;
          left: 0;
          letter-spacing: 2px;
          background: white;
          width: 300px;
          text-align: center;
          height: 80px;
          span {
            font-family: "Allura";
            font-size: 3em;
          }
          opacity: 0;
          transition: 0.3s;
          text-shadow: 2px 2px 5px black;
        }
        p {
          color: rgb(0, 0, 0);
          font-size: 1.2em;
          position: absolute;
          z-index: 2;
          background: white;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          top: 30%;
          height: 400px;
          padding: 20px;
          max-width: 300px;
          opacity: 0;
          transition: 0.3s;
          box-shadow: 5px 2px 10px black;
        }
      }
    }
  }
  .projects-container article:hover {
    img {
      filter: grayscale(0%);
      opacity: 1;
    }
    h2 {
      opacity: 1;
    }
    p {
      opacity: 1;
    }
  }
  .view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    .closeBtn {
      position: absolute;
      font-size: 4em;
      top: 2%;
      left: 3%;
      transition: 0.3s;
      cursor: pointer;
    }
    .link {
      position: absolute;
      top: 78%;
      right: 10%;
      font-size: 3em;
      transition: 0.3s;
      opacity: 0.7;
      a {
        color: black;
      }
    }
    .views {
      position: relative;
      background: rgb(0, 0, 0);
      width: 1550px;
      height: 720px;
      top: 3%;
      left: 10%;
      display: flex;
      z-index: 99;
      overflow: hidden;
      img {
        min-width: 300px;
      }
      .desktop-view {
        position: absolute;
        top: 0;
        left: 12%;
        img {
          width: 800px;
        }
        z-index: 20;
      }
      .tablet-view {
        position: absolute;
        z-index: 19;
        bottom: 0;
        img {
          width: 400px;
        }
        left: 12%;
      }
      .mobile-view {
        position: absolute;
        right: 10.5%;
        top: 0;
        img {
          width: 400px;
          height: 720px;
          object-fit: cover;
        }
        z-index: 18;
      }
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 80%;
      left: 10%;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.3em;
        max-width: 1100px;
      }
    }
    .link:hover {
      transform: scale(1.2);
    }
  }
  .viewOverlayBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 998;
  }
  .closeBtn:hover {
    transform: scale(1.2);
  }
  .displayProject {
    opacity: 1;
    pointer-events: all;
  }
  .overlayBg {
    opacity: 0.6;
  }
}

.contact {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  max-width: 1608px;
  margin: 0 auto;
  .contact-container {
    // position: relative;
    .contact-title {
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 2px;
      top: 80px;
      left: 3%;
      h2 {
        font-size: 60px;
        span {
          font-size: 100px;
        }
      }
    }
    .contact-section {
      position: absolute;
      width: 1400px;
      height: 600px;
      top: 30%;
      left: 8%;
      background: white;
      box-shadow: 0px 0px 25px black;
      .section-title {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        font-size: 4em;
        h2 {
          font-family: "Allura";
        }
      }
      .section-text {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90%;
        letter-spacing: 2px;
        bottom: 5%;
        font-size: 20px;
        .text {
          max-width: 800px;
          margin: 0 40px;
        }
        .information {
          p {
            max-width: 600px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            opacity: 0.7;
          }
        }
        .connect {
          .social {
            font-size: 2em;
            a {
              color: black;
              margin: 0 5px;
              cursor: pointer;
            }
          }
        }
        .skills {
          ul li {
            list-style: none;
          }
        }
      }
    }
  }
}

// Hover effcts
.hero-img img:hover {
  filter: grayscale(0%);
}
.logo-text p:hover {
  margin-left: 160px;
  font-size: 25px;
  opacity: 1;
}
.nav a:hover {
  font-size: 1.8em;
  text-decoration: none;
  color: black;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-mobile:hover {
  transform: scale(1.3);
}

// Responsive
@media only screen and (min-width: 1601px) and (max-width: 2500px) {
  .App {
    .header {
      width: 100%;
      transform: translate(-50%) scale(1);
    }
    .shift {
      transform: translate(-50%) scale(0.9);
    }
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .App {
    .header {
      width: 100%;
      transform: translate(-50%) scale(1);
    }
    .shift {
      transform: translate(-50%) scale(0.9);
    }
  }
  .main .main-container .main-btn {
    font-size: 20px;
    left: 40px;
  }
  .hero-body {
    transform: scale(0.9);
  }
  .hero-body {
    position: absolute;
    top: 350px;
    display: flex;
    .hero-text {
      position: relative;
      letter-spacing: 2px;
    }
  }

  .projects .view {
    width: 100%;
    .views {
      transform: scale(0.8);
      left: 0px;
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 75%;
      left: 10%;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.3em;
        max-width: 1100px;
      }
    }
    .link {
      font-size: 2.5em;
      top: 72%;
    }
  }
  .contact .contact-container .contact-section {
    position: absolute;
    top: 30%;
    left: 4%;
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1400px) {
  .main .main-container .main-btn {
    font-size: 20px;
    left: 300px;
  }
  .hero-body {
    transform: scale(1.1);
  }
  .hero-body {
    position: absolute;
    top: 360px;
    left: 19%;
    display: flex;
    flex-direction: column;
    .hero-text {
      position: relative;
      letter-spacing: 2px;
    }

    .hero-img {
      position: absolute;
      margin-left: 5em;
      transform: scale(0.7);
      top: -250px;
      right: -50px;
    }
  }
  .projects .view {
    width: 100%;
    .views {
      transform: scale(0.8);
      left: 0px;
    }
  }
  .nav {
    top: 30%;
    .nav-list {
      position: absolute;
      top: 70px;
      right: -190px;
      background: black;
      width: 320px;
      height: 1800px;
      opacity: 0.7;
      transform: translateX(235px);
      transition: 0.3s;
    }
    a {
      color: rgb(255, 255, 255);
      font-size: 1.7em;
      text-decoration: none;
      margin: 5em 1em;
      text-shadow: 5px 2px 5px black;
      transition: 0.3s;
      display: flex;
      opacity: 1;
    }
    .nav-mobile {
      position: absolute;
      top: 0;
      right: 50px;
      width: 50px;
      height: 50px;
      color: rgb(0, 0, 0);
      box-shadow: 0px 1px 20px black;
      transition: 0.2s;
      display: block;
      z-index: 100;
    }
    .show-mobile-nav {
      transform: translateX(0px);
    }
  }
  .projects {
    height: 2100px;
    .projects-container {
      top: 0px;
      height: 1600px;
    }
  }
  .projects .view {
    width: 100%;
    .views {
      transform: scale(0.6);
      left: -200px;
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 75%;
      left: 10%;
      max-width: 900px;
    }
    .link {
      font-size: 2.5em;
      top: 72%;
    }
  }
  .contact .contact-container .contact-section {
    position: absolute;
    top: 30%;
    left: -10%;
    transform: scale(0.7);
  }
  .nav a:hover {
    font-size: 1.8em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 1079px) {
  .App {
    .header {
      width: 170%;
      transform: translate(-50%) scale(0.6);
    }
    .shift {
      transform: translate(-50%) scale(0.6);
    }
  }
  .main .main-container .main-btn {
    font-size: 20px;
    left: 120px;
  }
  .hero-body {
    transform: scale(0.8);
  }
  .hero-body {
    position: absolute;
    top: 200px;
    left: 5%;
    display: flex;
    flex-direction: column;
    .hero-text {
      position: relative;
      letter-spacing: 2px;
      top: 180px;
    }

    .hero-img {
      position: absolute;
      margin-left: 5em;
      transform: scale(0.7);
      top: -200px;
      right: -50px;
    }
  }
  .logo {
    transform: scale(0.8);
  }
  .nav {
    top: 30%;
    .nav-list {
      position: absolute;
      top: 100px;
      right: -100px;
      background: black;
      width: 320px;
      height: 1800px;
      opacity: 0.7;
      transform: translateX(305px);
      transition: 0.3s;
    }
    a {
      color: rgb(255, 255, 255);
      font-size: 1.7em;
      text-decoration: none;
      margin: 5em 1em;
      text-shadow: 5px 2px 5px black;
      transition: 0.3s;
      display: flex;
      opacity: 1;
    }
    .nav-mobile {
      position: absolute;
      top: 0;
      right: 50px;
      width: 50px;
      height: 50px;
      color: rgb(0, 0, 0);
      box-shadow: 0px 1px 20px black;
      transition: 0.2s;
      display: block;
      z-index: 100;
    }
    .show-mobile-nav {
      transform: translateX(0px);
    }
  }
  .projects {
    height: 2800px;
    .projects-container {
      top: 0px;
      height: 2300px;
    }
  }
  .projects .view {
    width: 100%;
    .views {
      top: -40px;
      transform: scale(0.3);
      left: -450px;
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 45%;
      left: 10%;
      max-width: 700px;
    }
    .link {
      font-size: 2.5em;
      top: 45%;
    }
  }
  .contact .contact-container .contact-section {
    position: absolute;
    top: 15%;
    left: 50px;
    transform: scale(0.8);
    width: 600px;
    height: 950px;
    .section-title {
      position: absolute;
      top: 5%;
      left: 55%;
      font-size: 2.4em;
      width: 500px;
    }
    .section-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 10%;
    }
  }
  .nav a:hover {
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 461px) and (max-width: 625px) {
  .App {
    .header {
      width: 180%;
      transform: translate(-50%) scale(0.6);
    }
    .shift {
      transform: translate(-50%) scale(0.6);
    }
  }
  .main .main-container .main-btn {
    font-size: 20px;
    left: 30px;
  }
  .hero-body {
    transform: scale(0.7);
  }
  .hero-body {
    position: absolute;
    top: 200px;
    left: -10%;
    display: flex;
    flex-direction: column;
    .hero-text {
      position: relative;
      letter-spacing: 2px;
      top: 180px;
    }

    .hero-img {
      position: absolute;
      margin-left: 5em;
      transform: scale(0.7);
      top: -200px;
      right: -50px;
    }
  }
  .logo {
    transform: scale(0.8);
  }
  .nav {
    top: 30%;
    .nav-list {
      position: absolute;
      top: 100px;
      right: -100px;
      background: black;
      width: 320px;
      height: 1800px;
      opacity: 0.7;
      transform: translateX(235px);
      transition: 0.3s;
    }
    a {
      color: rgb(255, 255, 255);
      font-size: 1.7em;
      text-decoration: none;
      margin: 5em 1em;
      text-shadow: 5px 2px 5px black;
      transition: 0.3s;
      display: flex;
      opacity: 1;
    }
    .nav-mobile {
      position: absolute;
      top: 0;
      right: 50px;
      width: 50px;
      height: 50px;
      color: rgb(0, 0, 0);
      box-shadow: 0px 1px 20px black;
      transition: 0.2s;
      display: block;
      z-index: 100;
    }
    .show-mobile-nav {
      transform: translateX(0px);
    }
  }
  .projects {
    height: 2800px;
    .projects-container {
      top: 0px;
      height: 2300px;
    }
  }
  .projects .view {
    width: 100%;
    .views {
      top: -40px;
      transform: scale(0.3);
      left: -480px;
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 45%;
      left: 10%;
      max-width: 700px;
    }
    .link {
      font-size: 2.5em;
      top: 45%;
    }
  }
  .contact .contact-container .contact-section {
    position: absolute;
    top: 10%;
    left: -20px;
    transform: scale(0.7);
    width: 600px;
    height: 950px;
    .section-title {
      position: absolute;
      top: 5%;
      left: 55%;
      font-size: 2.4em;
      width: 500px;
    }
    .section-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 10%;
    }
  }
  .nav a:hover {
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .App {
    .header {
      width: 180%;
      transform: translate(-50%) scale(0.6);
    }
    .shift {
      transform: translate(-50%) scale(0.6);
    }
  }
  .main .main-container .main-btn {
    font-size: 20px;
    left: 30px;
  }
  .hero-body {
    transform: scale(0.7);
  }
  .hero-body {
    position: absolute;
    top: 200px;
    left: -10%;
    display: flex;
    flex-direction: column;
    .hero-text {
      position: relative;
      letter-spacing: 2px;
      top: 180px;
    }

    .hero-img {
      position: absolute;
      margin-left: 5em;
      transform: scale(0.7);
      top: -200px;
      right: -50px;
    }
  }
  .logo {
    transform: scale(0.7);
  }
  .nav {
    top: 30%;
    .nav-list {
      position: absolute;
      top: 100px;
      right: -100px;
      background: black;
      width: 320px;
      height: 1800px;
      opacity: 0.7;
      transform: translateX(235px);
      transition: 0.3s;
    }
    a {
      color: rgb(255, 255, 255);
      font-size: 1.7em;
      text-decoration: none;
      margin: 5em 1em;
      text-shadow: 5px 2px 5px black;
      transition: 0.3s;
      display: flex;
      opacity: 1;
    }
    .nav-mobile {
      position: absolute;
      top: 0;
      right: 50px;
      width: 50px;
      height: 50px;
      color: rgb(0, 0, 0);
      box-shadow: 0px 1px 20px black;
      transition: 0.2s;
      display: block;
      z-index: 100;
    }
    .show-mobile-nav {
      transform: translateX(0px);
    }
  }
  .projects {
    height: 2800px;
    .projects-container {
      top: 0px;
      height: 2300px;
    }
  }
  .projects .view {
    width: 100%;
    .views {
      top: -20px;
      transform: scale(0.25);
      left: -600px;
    }
    .view-text {
      position: absolute;
      letter-spacing: 2px;
      top: 45%;
      left: 10%;
      max-width: 700px;
    }
    .link {
      font-size: 2.5em;
      top: 45%;
    }
  }
  .contact .contact-container .contact-section {
    position: absolute;
    top: 10%;
    left: -100px;
    transform: scale(0.6);
    width: 600px;
    height: 950px;
    .section-title {
      position: absolute;
      top: 5%;
      left: 55%;
      font-size: 2.4em;
      width: 500px;
    }
    .section-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 10%;
    }
  }
  .nav a:hover {
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
